 /** {
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: Arial, sans-serif;
 }
 
 /*.container {
   margin-bottom: 1.5rem;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1.5rem;
 }
 
 @media screen and (max-width: 668px) {
   .container {
     width: 95%;
   }
 }
 
 @media screen and (min-width: 669px) {
   .container {
     width: 70%;
   }
 }
 
 .segment {
   margin: 0.75rem 0;
 }
 
 .segment:first-child {
   margin-top: 0;
 }
 
 .segment:last-child {
   margin-bottom: 0;
 }
 */
 body {
   font-family: Arial, sans-serif;
 }
 .button {
   background: hsl(0, 0%, 85%);
   border: none;
   border-radius: 3px;
   cursor: pointer;
   padding: 0.33rem 0.75rem;
 }
 
 .button:hover,
 .button:focus {
   background: hsl(0, 0%, 77.5%);
   outline: none;
 }
 
 .button:active {
   background: hsl(0, 0%, 72.5%)
   outline: none;
 }
 .upgrades {
    width: 150px; 
    height: 150px;
  }
  .boxed {
  border: 1px solid black ;
  padding: 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    
    background-color: #555;
    color: #fff;
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 0;
    top: 100%;
    left: 50%; 
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
